.pc_sideview {
    margin-left: auto;
    margin-right: auto;
    
    border: 50px;
}

h1 {
    padding-left: 50px;
}

h2 {
    padding-left: 50px;
}


.navbar {
    background-color: violet;
}

.heading {
    font-size: x-large;
}

.quiz{
    padding-left: 50px;
}

body {
    background-color: #EFDCF9;
    background-size: cover;
    font-family: 'Roboto' ;
}

.sub {
    padding: 80px;
    width: 800px;
    margin: auto;
    font-size: large;
    height: 800px;
}

.ind {
    padding: 80px;
    width: 800px;
    margin: auto;
    font-size: large;
    height: 800px;
    text-align: center;
}

.cen{
    margin:auto;
    display:block;
}