.pc_sideview {
    margin-left: auto;
    margin-right: auto;
    
    border: 50px;
}

.content_img {
    width: 50%;
    height: 50%;
}   

h1 {
    padding-left: 50px;
}

h2 {
    padding-left: 50px;
}

.content_p {
    padding-left: 50px;
    font-size: 20px;
}

.navbar {
    background-color: navajowhite;
}

.heading {
    font-size: x-large;
}

.quiz{
    padding-left: 50px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto' ;
    background-color: #4158D0;
    background-image: linear-gradient(0deg, #4158D0 0%, #C850C0 25%, #fffc6e 100%);

}

.sub {
    padding: 80px;
    width: 800px;
    margin: auto;
    font-size: large;
    height: 800px;
    text-align: center;
}

.ind {
    padding: 80px;
    width: 800px;
    margin: auto;
    font-size: large;
    height: 800px;
    text-align: center;
}

.img_responsive {
    width: 640px;
    height: 480px;
}

.cen{
    margin:auto;
    display:block;
}

#submission{
    visibility: hidden;
    padding-left: 50px;
}