{% extends "base.html" %}

{% block content %}
    <h1>Content</h1>
    <img class="pc_sideview" src='static\images\pc_sideview.png' alt="PC Sideview" usemap="#partsmap"  >

    <map name='partsmap'>
        <area target="_self" alt="Graphics Card" title="Graphics Card" onclick="document.getElementById('graphics_card').style.display='none'" href=# coords="483,355,133,292" shape="rect">
        <area target="_self" alt="RAM" title="RAM" href= "{{ url_for('ram') }}" coords="318,134,366,285" shape="rect">   
    </map>
    <div class = 'container-fluid' onload = "showContentList">
        <div class = "content_block" id="CPU">
            <a href="{{ url_for('cpu') }}"><h1>CPU (Computer Processing Unit)</h1></a>
            <img class='img-responsive' src = 'static\images\CPU.jpg' alt="CPU (Central Processing Unit">
        </div>
        <div class = "content_block" id="motherboard">
            <a href="{{ url_for('motherboard') }}"><h1>Motherboard</h1></a>
            <img class='img-responsive' src = 'static\images\motherboard.jpg' alt="Motherboard">
        </div>
        <div class = "content_block" id="GPU">
            <a href="{{ url_for('gpu') }}"><h1>GPU (Graphical Processing Unit)</h1></a>
            <img class='img-responsive' src = 'static\images\GPU.jpg' alt="GPU (Graphical Processing Unit)">
        </div>
        <div class = "content_block" id="RAM">
            <a href="{{ url_for('ram') }}"><h1>RAM (Random Access Memory)</h1></a>
            <img class='img-responsive' src = 'static\images\RAM.jpg' alt="RAM (Random Access Memory)">
        </div>
        <div class = "content_block" id="Storage">
            <h1>Storage</h1>
            <img class='img-responsive' src = 'static\images\NVME_SSD.jpg' alt="Storage">
        </div>
        <div class = "content_block" id="Peripheral">
            <h1>Peripheral</h1>
            <img class='img-responsive' src = 'static\images\Mouse.jpg' alt="Mouse">
            <img class='img-responsive' src = 'static\images\Keyboard.jpg' alt="Keyboard">
        </div>
        <div class = "content_block" id="Power_Supply">
            <h1>Power Supply</h1>
            <img class='img-responsive' src = 'static\images\Power_supply.jpg'>
        </div>
    </div>
    
    <script>
        function showContentList() {
            document.getElementsByClassName("content_block").style.display="block";
        }
        function showCPU() {
            document.getElementsByClassName("pc_sideview").style.display="none"
            document.getElementById("CPU").style.display="block"
            document.getElementById("GPU").style.display="none"
            document.getElementById("RAM").style.display="none"
            document.getElementById("Storage").style.display="none"
            document.getElementById("Peripheral").style.display="none" 
            document.getElementById("Power_supply").style.display="none"
        }
    </script>

{% endblock %}