{% extends "base.html" %}

{% block content %}
    <h1>Content</h1>
    <img class="pc_sideview" src='static\images\pc_sideview.png' alt="PC Sideview" usemap="#partsmap">

    <map name='partsmap'>
        <area target="_self" alt="Graphics Card" title="Graphics Card" onclick="document.getElementById('graphics_card').style.display='none'" href=# coords="483,355,133,292" shape="rect">
        <area target="_self" alt="RAM" title="RAM" href= "{{ url_for('ram') }}" coords="318,134,366,285" shape="rect">   
    </map>
    <div class = "content_block" id="CPU">
        <h1>CPU</h1>
    </div>
    <div class = "content_block" id="GPU">
        <h1>GPU</h1>
    </div>
    <div class = "content_block" id="RAM">
        <h1>RAM</h1>
    </div>
    <div class = "content_block" id="Storage">
        <h1>Storage</h1>
    </div>
    <div class = "content_block" id="Peripheral">
        <h1>Peripheral</h1>
    </div>
    <div class = "content_block" id="Power supply">
        <h1>Power Supply</h1>
    </div>
    <div class = "content_block" id="graphics_card">
        <h1>graphics_card</h1>
    </div>

{% endblock %}