{% extends "base.html" %}

{% block content %}
<div id="CPU_header">
    <h1>
        Central Processing Unit (CPU)
    </h1>
    <img class='img-responsive' src = 'static\images\CPU.jpg' alt="CPU (Central Processing Unit)" style="width: 640px; height: 480px; padding-left: 50px; ">
</div>
<div id="CPU_description">
    <h2>
        Description
    </h2>
    <p style="font-size: 20px; padding-left: 50px;">
        The CPU stands for Central Processing Unit. Being the "brain" of the computer, the CPU functions as the main control center of all computer operations.
        It has four specific functions: to fetch, execute, decode, and store instructions. 
        A CPU contains cores, which are units in a CPU that can run different processes. 
        The more cores a CPU has, the faster the computer will be.
    </p>    
</div>
<div id="install_CPU">
    <h2>CPU Installation</h2>
    <p style="font-size: 20px; padding-left: 50px;">You need: </p>
    <ul style="padding-left: 50px;">
        <li>
            A CPU
        </li>
        <li>
            A motherboard with a compatible chipset (see <a href="{{ url_for('motherboard') }}">Motherboard</a>)
        </li>
        <li>
            Thermal Paste
        </li>
        <li>
            A CPU cooler (normally comes with the CPU)
        </li>
    <ul>
    <p style="font-size: 20px; padding-left: 50px;">
        The first few steps of installing a CPU varies depending on the CPU brand.
        For an Intel CPU, the CPU retention bracket must be released through a small metal lever which is holding it down on the motherboard.
        For an AMD CPU, the CPU locking lever must be lifted up from the socket for the CPU to be placed.
    </p>
</div>

{% endblock %}