{% extends "base.html" %}

{% block content %}
<div id="CPU_header">
    <h1>
        Central Processing Unit (CPU)
    </h1>
    <img class='img-responsive' src = 'static\images\CPU.jpg' alt="CPU (Central Processing Unit)" style="width: 640px; height: 480px; padding-left: 50px; ">
</div>
<div id="CPU_description">
    <h2>
        Description
    </h2>
    <p style="font-size: 20px; padding-left: 50px;">
        The CPU stands for Central Processing Unit. Being the "brain" of the computer, the CPU functions as the main control center of all computer operations.
        It has four specific functions: to fetch, execute, decode, and store instructions. 
    </p>
    
</div>

{% endblock %}