{% extends "base.html" %}

{% block content %}
<div id="CPU_header">
    <h1>
        Central Processing Unit (CPU)
    </h1>
    <img class='img-responsive' src = 'static\images\CPU.jpg' alt="CPU (Central Processing Unit)" style="width: 640px; height: 480px; padding-left: 50px; ">
</div>
<div id="CPU_description">
    <h2>
        Description
    </h2>
    <p class="content_p">
        The CPU stands for Central Processing Unit. Being the "brain" of the computer, the CPU functions as the main control center of all computer operations.
        It has four specific functions: to fetch, execute, decode, and store instructions. 
        A CPU contains cores, which are units in a CPU that can run different processes. 
        The more cores a CPU has, the faster the computer will be.
    </p>    
</div>
<div id="install_CPU">
    <h2>CPU Installation</h2>
    <p class="content_p">You need: </p>
    <ul style="font-size: 20px; padding-left:70px;">
        <li>
            A CPU
        </li>
        <li>
            A motherboard with a compatible chipset (see <a href="{{ url_for('motherboard') }}">Motherboard</a>)
        </li>
        <li>
            Thermal Paste
        </li>
        <li>
            A CPU cooler (normally comes with the CPU)
        </li>
        <br>

        Steps:
        <li>
            Holding the CPU by its sides, line up your CPU with the CPU socket on the motherboard.
        </li>
        <li>
            Set the CPU into its socket; assuming it is correctly lined up, the CPU should drop right into place.
        </li>
        <li>
            Push down the retention arm on the CPU socket.
        </li>
        <li>
            Apply a layer of thermal paste to the top of the CPU lid.
        </li>
        <li>
            Install the CPU cooler by lining up the screws with the holes in the motherboard, then lower the cooler onto the CPU and attach.
        </li>
</div>

<div class="cpu_recommendations">
    <h1>CPU Recommendations</h1>
    <p class="content_p">
        The two main manufacturers for CPUs are Intel and AMD, both of which produce high-quality CPUs.
        For uses such as gaming, the AMD Ryzen and Intel Core lines are sufficient.
        Regarding uses such as workstations, both manufacture high-end desktop or workstation CPUs, such as Intel Xeon and AMD Ryzen Threadripper Pro.
        AMD are currently producing the Ryzen 5000 series and Intel are currently producing their 11th generation architecture, the Tiger Lake. 
    </p>
</div>

{% endblock %}