{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <script src = "{{ url_for('static', filename='javascript/cpuquiz.js') }}"></script>
        <div class ="quiz">
            <h1>Quick Quiz</h1>
            <form id = "quiz" name = "quiz" class= "quiz">
            
            <p>
                (1). What does CPU stand for?<br>
                <input type ="radio"  name="q1" value ="Center Programming Unit"> a. Center Programming Unit<br>
                <input type ="radio"  name="q1" value ="Computer Programmed Universal"> b. Computer Programmed Universal<br>
                <input type ="radio"  name="q1" value ="Central Processing Unit"> c. Central Processing Unit<br>
            </p>

            <p>
                (2). The CPU is what " " of the computer?<br>
                <input type ="radio"  name="q2" value ="Heart"> a. Heart<br>
                <input type ="radio"  name="q2" value ="Brain"> b. Brain<br>
                <input type ="radio"  name="q2" value ="Liver"> c. Liver<br>
            </p>

            <p>
                (3). What are the four specifc functions of a CPU?<br>
                <input type ="radio"  name="q3" value ="fetch, execute, decode, and store instructions"> a. fetch, execute, decode, and store instructions<br>
                <input type ="radio"  name="q3" value ="program, execute, decode, and fetch instructions"> b. program, execute, decode, and fetch instructions<br>
                <input type ="radio"  name="q3" value ="read, write, fetch, and store instructions"> c. read, write, fetch, and store instructions<br>
            </p>

            <br>
            <input id = "button" type = "button" value="Submit" onclick = "check();">
        </form>

            <div id = "submission"> 
                <br>   
                <p id ="user_score"></p>
                <button type="button" onclick="window.location.href='content';">Back to content</button>
            </div>
        </div>
    {% else %}
    <div class = "container sub">
        <h2>Please Login to complete the quiz</h2>
        <div class = "cen">
        <button type="button" onclick="window.location.href='content';">
        </div>
       
    </div>
    {%endif%}
{% endblock %}