{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <script src = "{{ url_for('static', filename='javascript/gpuquiz.js') }}"></script>
        <div class ="quiz">
            <h1>Quick Quiz</h1>
            <form id = "quiz" name = "quiz" class= "quiz">
            
            <p>
                (1). What does GPU stand for?<br>
                <input type ="radio" id="qmc" name="q1" value ="Graphical Processing Unit"> a. Graphical Processing Unit<br>
                <input type ="radio" id="qmc" name="q1" value ="Gaming Processing Unit"> b. Gaming Processing Unit<br>
                <input type ="radio" id="qmc" name="q1" value ="Graphical Programming Unit"> c. Graphical Programming Unit<br>
            </p>

            <p>
                (2). Where do place the GPU in a computer?<br>
                <input type ="radio" id="qmc" name="q2" value ="PCIe x1 Slot"> a. PCIe x1 Slot<br>
                <input type ="radio" id="qmc" name="q2" value ="PCIe x4 Slot"> b. PCIe x4 Slot<br>
                <input type ="radio" id="qmc" name="q2" value ="PCIe x16 Slot"> c. PCIe x16 Slot<br>
            </p>

            <p>
                (3). What isnt required when installing a new GPU?<br>
                <input type ="radio" id="qmc" name="q3" value ="Thermal Paste"> a. Thermal Paste<br>
                <input type ="radio" id="qmc" name="q3" value ="A PC"> b. A PC<br>
                <input type ="radio" id="qmc" name="q3" value ="Phillips-head screwdriver"> c. Phillips-head screwdriver<br>
            </p>

            <br>
            <input id = "button" type = "button" value="Submit" onclick = "check();">
        </form>

            <div id = "submission"> 
                <br>   
                <p id ="user_score"></p>
                <button type="button" onclick="window.location.href='content';">Back to content</button>
            </div>
        </div>
    {% else %}
    <div class = "container sub">
        <h2>Please Login to complete the quiz</h2>
        <div class = "cen">
        <button type="button" onclick="window.location.href='content';">
        </div>
       
    </div>
    {%endif%}
{% endblock %}