{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <script src = "{{ url_for('static', filename='javascript/moboquiz.js') }}"></script>
        <div class ="quiz">
            <h1>Quick Quiz</h1>
            <form id = "quiz" name = "quiz" class= "quiz">
            
            <p>
                (1). The motherboard is also known as what?<br>
                <input type ="radio"  name="q1" value ="Magic Board"> a. Magic Board<br>
                <input type ="radio"  name="q1" value ="Logic Board"> b. Logic Board<br>
                <input type ="radio"  name="q1" value ="Processing Board"> c. Processing Board<br>
            </p>

            <p>
                (2). Which of the following CPUs is NOT compatible with an Intel motherboard?<br>
                <input type ="radio"  name="q2" value ="Intel Core i9"> a. Intel Core i9<br>
                <input type ="radio"  name="q2" value ="Ryzen 5 3600XT"> b. Ryzen 5 3600XT<br>
                <input type ="radio"  name="q2" value ="Intel Core i5"> c. Intel Core i5<br>
            </p>

            <p>
                (3). The motherboard is the " " circuit board of the computer<br>
                <input type ="radio"  name="q3" value ="Temporary"> a. Temporary<br>
                <input type ="radio"  name="q3" value ="Secondary"> b. Secondary<br>
                <input type ="radio"  name="q3" value ="Main"> c. Main<br>
            </p>

            <br>
            <input id = "button" type = "button" value="Submit" onclick = "check();">
        </form>

            <div id = "submission"> 
                <br>   
                <p id ="user_score"></p>
                <button type="button" onclick="window.location.href='content';">Back to content</button>
            </div>
        </div>
    {% else %}
    <div class = "container sub">
        <h2>Please Login to complete the quiz</h2>
        <div class = "cen">
        <button type="button" onclick="window.location.href='content';">
        </div>
       
    </div>
    {%endif%}
{% endblock %}