{% extends "base.html" %}

{% block content %} 
    <div id="motherboard_overview">
        <h1>Motherboard</h1>
        <img class='img-responsive' src = 'static\images\motherboard.jpg' alt="Motherboard" style="width: 640px; height: 480px; padding-left: 50px; ">
        <p class="content_p">
            The motherboard is the main circuit board of the computer, and is also known as the main board or logic board.
            It is the object that makes every component in the computer work together.
            The CPU is installed on the motherboard, and RAM expansion slots are also located on the motherboard.
        </p>
    </div>
    <div id="motherboard_chipsets">
        <h2>Motherboard Chipsets</h2>
        <p class="content_p">
            A motherboard has a collection of chips and controllers called the chipset. 
            New motherboards normally come with new chipsets, which make the boards faster than its predecessors.
            However, new chipsets also result in older components having no compatibility with newer chipsets.
        </p>
        <p class="content_p">
            Certain CPUs (Central Processing Units) are also incompatible with certain chipsets. 
            An Intel CPU e.g. Intel Core i7 is incompatible with an AMD chipset e.g. B450, for instance and vice versa.
            An Intel CPU must be installed in an Intel chipset, while an AMD CPU must be installed in an AMD chipset.
        </p>


    </div>
{% endblock %}