{% extends "base.html" %}

{% block content %}
<div id="Peripherals_header">
    <h1>
        Peripherals
    </h1>
    <img class='img-responsive' src = 'static/images/Keyboard.jpg' alt="Keyboard" style="width: 640px; height: 480px; padding-left: 50px; ">
    <img class='img-responsive' src = 'static/images/Mouse.jpg' alt="Mouse" style="width: 640px; height: 480px; padding-left: 50px; ">
</div>
<div id="Peripherals_description">
    <h2>
        Description
    </h2>
    <p class="content_p">
        Peripherals are external devices that are connected wired or wirelessly to a computer, they are considered to be essential to operate
        a computer as they used to input/output information from a computer, can you imagine operating your computer without a keyboard and mouse? 
    </p> 
</div>

<div id="Peripherals_example">
    <h2>
        List of Peripherals
    </h2>
    <p class="content_p">
        <ul style="font-size: 20px; padding-left:70px;">
            <li>Keyboard</li>
            <li>Mouse</li>
            <li>Monitor</li>
            <li>Printer</li>
            <li>Fax machine</li>
            <li>Headset</li>
            <li>Speakers</li>
            <li>Modem</li>
        </ul>
    </p> 
</div>

<button type="button" onclick="window.location.href='peripheralquiz';" class = "cen">Take a quick quiz!</button>
<br>

{% endblock %}