{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <script src = "{{ url_for('static', filename='javascript/peripheralquiz.js') }}"></script>
        <div class ="quiz">
            <h1>Quick Quiz</h1>
            <form id = "quiz" name = "quiz" class= "quiz">
            
            <p>
                (1). Peripheral devices are " " devices?<br>
                <input type ="radio" id="qmc" name="q1" value ="External"> a. External<br>
                <input type ="radio" id="qmc" name="q1" value ="Internal"> b. Internal<br>
                <input type ="radio" id="qmc" name="q1" value ="Essential"> c. Essential<br>
            </p>

            <p>
                (2). Peripheral devices are used to?<br>
                <input type ="radio" id="qmc" name="q2" value ="Process data"> a. Process data<br>
                <input type ="radio" id="qmc" name="q2" value ="Store information"> b. Store information<br>
                <input type ="radio" id="qmc" name="q2" value ="Input/output information"> c. Input/output information<br>
            </p>

            <p>
                (3). What isn't considered a peripheral device?<br>
                <input type ="radio" id="qmc" name="q3" value ="Printer"> a. Printer<br>
                <input type ="radio" id="qmc" name="q3" value ="Fax"> b. Fax<br>
                <input type ="radio" id="qmc" name="q3" value ="Graphics card"> c. Graphics card<br>
            </p>

            <br>
            <input id = "button" type = "button" value="Submit" onclick = "check();">
        </form>

            <div id = "submission"> 
                <br>   
                <p id ="user_score"></p>
                <button type="button" onclick="window.location.href='content';">Back to content</button>
            </div>
        </div>
    {% else %}
    <div class = "container sub">
        <h2>Please Login to complete the quiz</h2>
        <div class = "cen">
        <button type="button" onclick="window.location.href='content';">
        </div>
       
    </div>
    {%endif%}
{% endblock %}