{% extends "base.html" %}

{% block content %}
<div id="PSU_header">
    <h1>
        Power Supply
    </h1>
    <img class='img-responsive' src = 'static/images/Power supply.jpg' alt="PSU" style="width: 640px; height: 480px; padding-left: 50px; ">
</div>
<div id="PSU_description">
    <h2>
        Description
    </h2>
    <p class="content_p">
        The power supply is the component that supplies all the other components with power. It does this by converting main AC
        into a low-voltage DC power for the other components of the computer. They come in different form factors ranging from small 
        form factor PCs to larger form factor PCs. They also come in different power wattages ranging from 400W to even 2000W for beefy
        workstations.
    </p> 

</div>

<div id="PSU_certification">
    <h2>
        Power Supply Certification
    </h2>
    <p class="content_p">
        The power supply certification is a rating system used to measure a power supply's reliability and efficiency. They start at white and 
        go up to titanium. Here is the full list from least to most efficent, white, bronze, silver, gold, platinum, and titanium. The power supply
        rating is an imporant thing to consider when picking a power supply, as this a component that can potentially effect the other components 
        of your system. So it is important to get a power supply that is efficent and has enough wattage for your needs.
    </p> 

</div>

<button type="button" onclick="window.location.href='psuquiz';" class = "cen">Take a quick quiz!</button>
<br>
{% endblock %}