{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <script src = "{{ url_for('static', filename='javascript/ramquiz.js') }}"></script>
        <div class ="quiz">
            <h1>Quick Quiz</h1>
            <form id = "quiz" name = "quiz" class= "quiz">
            
            <p>
                (1). What does RAM stand for?<br>
                <input type ="radio" id="qmc" name="q1" value ="Random Access Memories"> a. Random Access Memories<br>
                <input type ="radio" id="qmc" name="q1" value ="Rise Against Machines"> b. Rise Against Machines<br>
                <input type ="radio" id="qmc" name="q1" value ="Random Access Memory"> c. Random Access Memory<br>
            </p>

            <p>
                (2). Which of the following RAM is the fastest?<br>
                <input type ="radio" id="qmc" name="q2" value ="16 GB 4400mhz"> a. 16 GB 4400mhz<br>
                <input type ="radio" id="qmc" name="q2" value ="8 GB 3600mhz"> b. 8 GB 3600mhz<br>
                <input type ="radio" id="qmc" name="q2" value ="128 GB 2400mhz"> c. 128 GB 2400mhz"<br>
            </p>

            <p>
                (3). RAM is " " type of memory?<br>
                <input type ="radio" id="qmc" name="q3" value ="Valuable"> a. Valuable<br>
                <input type ="radio" id="qmc" name="q3" value ="Voluntary"> b. Voluntary<br>
                <input type ="radio" id="qmc" name="q3" value ="Volatile"> c. Volatile<br>
            </p>

            <br>
            <input id = "button" type = "button" value="Submit" onclick = "check();">
        </form>

            <div id = "submission"> 
                <br>   
                <p id ="user_score"></p>
                <button type="button" onclick="window.location.href='content';">Back to content</button>
            </div>
        </div>
    {% else %}
    <div class = "container sub">
        <h2>Please Login to complete the quiz</h2>
        <div class = "cen">
        <button type="button" onclick="window.location.href='content';">
        </div>
       
    </div>
    {%endif%}
{% endblock %}