{% extends "base.html" %}

{% block content %}
    <h1>Stats</h1>
    <div class = container>
        <h2>Your results:</h2>
        {% for result in user_results %}
            <p>Attempt {{ loop.index }} - {{ result }}/10</p>
            
        {% endfor %}
        <br>
        <h2>Average Mark - {{ average_mark }}/10</h2>
        <br>
        <h2>Total Users - {{ total_users }}</h2>
        <br>
        <h2>Quizzes taken today - {{ quizzes_today }}</h2>
        <br>
        <!--<h2>Average Score today - {{ score_today }}</h2>   WILL COME BACK IF I GET IT FIXED
        <br>-->
        <h2>Every Result:</h2>
        {% for result in every_result %}
            <p style = "padding-left: 100px;">{{ result[1] }} - {{result[0]}}/10</p>
        {% endfor %}
        <br>
        
    </div>
{% endblock %}