{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <script src = "{{ url_for('static', filename='javascript/storagequiz.js') }}"></script>
        <div class ="quiz">
            <h1>Quick Quiz</h1>
            <form id = "quiz" name = "quiz" class= "quiz">
            
            <p>
                (1). Storage is also known as?<br>
                <input type ="radio" id="qmc" name="q1" value ="Primary Storage"> a. Primary Storage<br>
                <input type ="radio" id="qmc" name="q1" value ="Secondary Storage"> b. Secondary Storage<br>
                <input type ="radio" id="qmc" name="q1" value ="Temporary Storage"> c. Temporary Storage<br>
            </p>

            <p>
                (2). Hard Disk Drives were introduced in what year and by whom?<br>
                <input type ="radio" id="qmc" name="q2" value ="1967 by Microsoft"> a. 1967 by Microsoft<br>
                <input type ="radio" id="qmc" name="q2" value ="1990 by Apple"> b. 1990 by Apple<br>
                <input type ="radio" id="qmc" name="q2" value ="1956 by IBM"> c. 1956 by IBM<br>
            </p>

            <p>
                (3). Which typically has the highest read/write speed?<br>
                <input type ="radio" id="qmc" name="q3" value ="NVMe M.2 SSD"> a. NVMe M.2 SSD<br>
                <input type ="radio" id="qmc" name="q3" value ="NVMe PCIe SSD"> b. NVMe PCIe SSD<br>
                <input type ="radio" id="qmc" name="q3" value ="SATA SSD"> c. SATA SSD"<br>
            </p>

            <br>
            <input id = "button" type = "button" value="Submit" onclick = "check();">
        </form>

            <div id = "submission"> 
                <br>   
                <p id ="user_score"></p>
                <button type="button" onclick="window.location.href='content';">Back to content</button>
            </div>
        </div>
    {% else %}
    <div class = "container sub">
        <h2>Please Login to complete the quiz</h2>
        <div class = "cen">
        <button type="button" onclick="window.location.href='content';">
        </div>
       
    </div>
    {%endif%}
{% endblock %}