{% extends "base.html" %}

{% block content %}
<div id="Storage_header">
    <h1>
        Storage
    </h1>
    <img class='img-responsive' src = 'static\images\NVME SSD.jpg' alt="Storage" style="width: 640px; height: 480px; padding-left: 50px; ">
</div>
<div id="Storage_description">
    <h2>
        Description
    </h2>
    <p style="font-size: 20px; padding-left: 50px;">
        Storage also known as secondary storage, is an component to the computer that allows you to store and access data. The two most common types of storage when it comes to 
        PCs are Solid State Drives and Hard Disk Drives.
    </p> 

    <h2>
        Solid State Drives
    </h2>
    <p style="font-size: 20px; padding-left: 50px;">
        Solid State Drives use flash-memory chips in order to store data, they are much faster and reliable compared to HDDs, they also have much higher read and write speeds compared to HDDs. These days most PCs use SSDs as there
        primary storage drive that contains the operating system and its files. SSDs aren't really reccommended for keeping big files such as photos and videos
        as they can take up lot of storage. There are 3 main different types of SSDs used in modern computers, here they are listed from fastest to slowest and all come
        in there own form factor, NVMe PCIe SSD, M.2 NVMe SSD and SATA SSD.
    </p>
    
    <h2>
        Hard Disk Drives
    </h2>
    <p style="font-size: 20px; padding-left: 50px;">
        Hard Disk Drives use magnetic storage and rapidly rotating magnetic platters to store data. Introduced by IBM in 1956, they were the most dominant 
        type of secondary storage up in till they were overtaken by SSDs due to their higher data transfer rates and overall better reliablity. They come in
        two main form factors being 2.5 and 3.5 inches and they are connected to the computer using SATA cables.
    </p>    

</div>


{% endblock %}